<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	This website is designed as a mock Twitter social network, and is not meant as a revenue generator.
<br>
  Get help learning about Ruby on Rails using the   
  <%= link_to "Rails Tutorial book", "http://railstutorial.org/book", :target => "_blank" %> or the
  <%= link_to "Rails Tutorial help page", "http://railstutorial.org/help", :target => "_blank" %>

</p>